@using PDR_Jobs
@using System
<h3>AddressComponent</h3>

@code {
    private string _streetAddress;
    private int _zipCode;
    private String _city;
    private String _state;

//Maps or GPS?   

    public void AddAddress()
    {
        var address = new Address();
        address.StreetAddress = _streetAddress;
        address.ZipCode = _zipCode;
        address.City = _city;
        address.State = _state;
    }

    public Address address1
    {
        get; set;
    }

}
