@using PDR_Jobs
@using System

<div class="alert alert-secondary mt-4" role="alert">
    <span class="oi oi-pencil mr-2" aria-hidden="true"></span>
    @if (TheTech != null)
    {
        <strong>@TheTech.FullName</strong>
        <br />

       // <AddressComponent TheAddress="TheAddress" />
    }


    //use new ;) adress component

</div>
@code {

    [Parameter]
    public Tech TheTech { get; set; }


}