@page "/BodyShops"
@inject PDR_Web.Data.PDRDataServ pdrDataService
@using PDR_Jobs

<button class="btn btn-primary" @onclick="LoadData">Load Data</button>
<p><input @bind="_userInput" /></p>
<button class="btn btn-primary" @onclick="searchShops">Search Shops</button>

@foreach (BodyShop bs in _listOfShops)
{
    <p> @bs.ToString()</p>
}

@code {
    private string _userInput;
    private List<BodyShop> _listOfShops = new List<BodyShop>();

    private void LoadData()
    {
        pdrDataService.Load();
    }

    private void searchShops()
    {

        //clear out the results list first
            _listOfShops.Clear();
        foreach (BodyShop bodyShop in pdrDataService.data.bodyShops)
        {
            if (bodyShop.Name.ToUpper().Contains(_userInput.ToUpper()))
            {

                _listOfShops.Add(bodyShop);

            }
        }
        //thennnnnn do something or something
    }

}




