@page "/Tech Page"
@inject PDR_Web.Data.PDRDataServ PDRData
@using PDR_Jobs

<p><input @bind="_userInput" /></p>
<button class="btn btn-primary" @onclick="PDRTechs">PDRTechs</button>


@foreach (Tech tech in _listOfTechs)
{
    <TechComponent SomeOthershit="tech" />
}

@code {
    private string _userInput;
    private int currentCount = 0;
    private List<Tech> _listOfTechs = new List<Tech>();

    private void IncrementCount()
    {
        currentCount++;
    }

    private void LoadData()
    {
    }

    private void PDRTechs()
    {
        _listOfTechs.Clear();
        foreach (Tech tech in PDRData.data.techs)
        {
            if (tech.FullName.ToUpper().Contains(_userInput.ToUpper()))
            {

                _listOfTechs.Add(tech);

            }

        }
    } }
